{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <p>classifier model </p>
{% endblock %}


tensorflowjs_converter \--input_format=tf_saved_model \--output_node_names='output_nodes'\ C:/Users/Professional/Desktop/Machine Learning/Tensorflow/Flower classification with CNN/all_flower_model \ /ml\web_flower_model

tensorflowjs_converter \--input_format=tf_saved_model \--output_node_names='output_nodes' \/C:\Users\Professional\Desktop\Machine Learning\Tensorflow\Flower classification with CNN\all_flower_model \/C:\Users\Professional\Desktop\Media\Website\ml\web_flower_model